name: Publish to PyPI

on:
  release:
    types: [ released ]

jobs:
  build-n-publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup
      - name: Build package
        run: uv build
      - name: Publish package
        run: uv publish
